.container-p{
    background-color: rgba(91, 228, 103, 0.205);
    margin-top: 2rem;
    text-align: justify;
    padding: 2rem;
    border-radius: 20px;
    color: aliceblue;
    

}



.container{
    background-color: rgba(170, 170, 170, 0.349);
    padding: 3rem;
    margin-top: 2rem;    
    max-width: 90%;
}

.navbar .container-fluid .nav-item a:hover{
    color: rgb(31, 196, 99);
    
}

#carousel .carousel-item{
    max-width: 100%;
    border-radius: 20px;
}

body{
    background: url("https://images.pexels.com/photos/113338/pexels-photo-113338.jpeg?_gl=1*1dtqtny*_ga*MTA1MjYwODgyLjE3NTAxMjQ4MjA.*_ga_8JE65Q40S6*czE3NTAxOTg0NjQkbzQkZzEkdDE3NTAxOTg0ODgkajM2JGwwJGgw") no-repeat center center/cover;
}

