
/*estilo de barra de navegacion*/

.m_navegacion1 {

    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem 2rem;
    display:flex;
    justify-content: center;
    gap: 13rem;
    position: relative;
    width: 100%;
    z-index: 99;
    
    
}

.m_navegacion1 a {
    color: rgba(78, 150, 78, 0.911);
    padding: 15px;
    margin: 5px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.m_navegacion1 a:hover{
    color: rgba(27, 77, 25, 0.877);  
    
}



.m_navegacion1 img{
    
    border-radius: 20px;
    display:flex;    
    width: 10vh;
    height: 10vh;
    
}

/*Estilo de Hero*/

.hero{
    height: 100%;
    background: url("https://images.pexels.com/photos/113338/pexels-photo-113338.jpeg?_gl=1*1dtqtny*_ga*MTA1MjYwODgyLjE3NTAxMjQ4MjA.*_ga_8JE65Q40S6*czE3NTAxOTg0NjQkbzQkZzEkdDE3NTAxOTg0ODgkajM2JGwwJGgw") no-repeat center center/cover;
    display: flex;
    color:rgb(255, 253, 248);
    position: relative;
    align-items: center;
    justify-content: center;

}

/*Estilo de opaciodad */
.hero .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
}

.hero .content-hero .contenido_1{
    max-width: 80%;
    position: relative;
    z-index: 99;
    margin: auto;
    background-color:rgba(85, 167, 103, 0.575);
    padding: 5rem;
    margin-top: 5rem;
    border-radius: 3rem;
    display: flex;
    
}

.hero .content-hero h1{
    font-size: 3rem;
    text-align: justify;
}
.hero .content-hero p{
    font-size: 1.5rem;
    text-align: justify;
}

.hero .content-hero .contenido_1 .imagen_gana img{
    width: 30rem;
    height: 30rem;
    border-radius: 100%;
}

/*Estilo del segundo contenido */
.hero .content-hero .contenido_2{
    max-width: 80%;
    position: relative;
    z-index: 99;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color:rgba(85, 167, 103, 0.575);
    padding: 5rem;
    display:flex;
    border-radius: 3rem;
}

.hero .content-hero h1{
    font-size: 3rem;
    text-align: justify;
}
.hero .content-hero p{
    font-size: 1.5rem;
    margin: 2rem;
    text-align: justify;
    
} 

.hero .content-hero .contenido_2 .imagen_gana img{
    width: 30rem;
    height: 30rem;
}

/*responsive desyng*/

@media (max-width: 100px){
    .m_navegacion1{
        flex-direction: column;
        gap: 0.2rem;
    }

    .hero .content-hero p{
        font-size: 0.5rem;

    }

    .hero .content-hero .localizacion .icono-locacion{
        font-size: 1rem;
    }

    .hero .content-hero .contac .btn-contac{
        font-size: 1rem;
    }
}
@media (max-width: 800px){
.m_navegacion1{
        flex-direction: column;
        gap: 0.2rem;
    }
    .hero .content-hero p{
        font-size: 20px;
        justify-content: center;
        margin-top: 50%;

    }


    .hero .content-hero .localizacion .icono-locacion{
        font-size: 1rem;
    }

    .hero .content-hero .contac .btn-contac{
        font-size: 1rem;
    }
}

